@color1: #3ddb84;
@color2: #092f42;

@font-face {
	font-family: "agb";
	src: url("../fonts/huge_agb-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Heebo", sans-serif;
}

* {
	box-sizing: border-box;
}

.button {
	text-transform: uppercase;
	text-decoration: none;
	padding: 0.8em 3em;
	font-size: 1.7em;
	border-radius: 2em;
	font-weight: bold;
	border-width: 0.3em;
	border-style: solid;
	outline: none;
	transition: background-color 0.4s, color 0.4s;

	&.buttonColor1 {
		background-color: @color1;
		border-color: @color1;
		color: @color2;

		&:hover {
			background-color: @color2;
			color: @color1;
		}
	}

	&.buttonColor2 {
		background-color: @color2;
		border-color: @color2;
		color: @color1;

		&:hover {
			background-color: @color1;
			color: @color2;
		}
	}

	&.buttonWhite {
		background-color: #fff;
		border-color: #fff;
		color: @color2;

		&:hover {
			background-color: transparent;
			color: #fff;
		}
	}

	&.buttonGrey {
		color: #6e6e6e;
		border-color: #6e6e6e;
		border-width: 0.15em;
		padding: 0.4em 1.4em;
		font-weight: normal;
		text-transform: none;

		&:hover {
			color: #fff;
			background-color: #6e6e6e;
		}
	}
	&.buttonOrange {
		cursor: pointer;
		color: #fff;
		font-size: 1.2em;
		border-color: #ff6332;
		background-color: #ff6332;
		box-shadow: 0 4px 0 0 #d0481d;
		border-width: 0.15em;
		padding: 0.75em 1.4em 0.75em 2em;
		position: relative;
		font-weight: normal;
		text-transform: none;
		i {
			display: inline-block;
			vertical-align: middle;
			padding-left: 0.5em;
		}

		&:hover {
			box-shadow: 0 2px 0 0 #d0481d;
			top: 2px;
		}

		&:active {
			box-shadow: 0 0 0 0 #d0481d;
			top: 6px;
		}
	}
	&.buttonBlack {
		cursor: pointer;
		color: #fff;
		background-color: #000;
		border-color: #000;
		border-width: 0.15em;
		padding: 0.4em 1.4em;
		text-transform: none;

		&:hover {
			color: #000;
			background-color: #fff;
			border-color: #fff;
		}
	}
	&.buttonBordered {
		border: 1px solid #dbdbdb;
		border-radius: 5px;
		padding: 0.8em 1em;
		font-weight: normal;
		line-height: 1;
		color: @color2;
		i {
			padding-left: 0.1em;
			font-size: 1.4em;
			color: #ff6332;
			vertical-align: middle;
			line-height: 0;
			display: inline-block;
			margin-top: -0.1em;
		}
		&:hover {
			background-color: #dbdbdb;
		}
	}
}

.modal-backdrop {
	opacity: 0.75 !important;
}
.modal {
	.modal-content {
		padding: 30px 80px;
	}
	.modal-body {
		position: static;
	}
	&.feedbackModal {
		a.bvClose {
			position: absolute;
			right: -1em;
			top: 0.2em;
			font-size: 2.4em;
			color: grey;
			line-height: 0.5;
			&:hover {
				text-decoration: none;
				opacity: 0.8;
			}
		}
		.modal-dialog {
			max-width: 740px;
		}
		.btn-success {
			background-color: #2eca71;
			border-color: #2eca71;
			padding: 5px 40px;
		}
		.thanksFeedback {
			padding: 100px 0;
			.rating {
				pointer-events: none;
				label {
					font-size: 50px;
				}
			}
		}
	}
}

.verte button.verte__guide {
	width: 100%;
	position: relative;
	height: auto;
	.palette {
		position: absolute;
		right: 0;
		top: 0;
		margin: 8px;
		width: 26px;
		height: 21px;
		border-radius: 5px;
		border: 1px solid #ccc;
	}
	input {
		pointer-events: none;
	}
}

.setupPage {
	// background: linear-gradient(to bottom, #28a08c 0%,#28a08c 50%,#fafafa 50%,#fafafa 100%);
	min-height: 100vh;
	header {
		.grad {
			background: linear-gradient(135deg, #1da9b1 0%, #27a57e 100%);
			padding: 10px 30px;
			position: relative;
			text-align: left;
			z-index: 1;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.viewOnboarding {
			text-decoration: none;
			font-size: 14px;
			color: #fff;
			i {
				font-size: 2em;
				margin-left: 10px;
				vertical-align: middle;
			}
		}
		a.logo {
			display: inline-block;
		}
		.skipSteps {
			background-color: #fff3f3;
			padding: 5px;
			text-align: center;
			p {
				display: inline-block;
				color: #858585;
				font-size: 12px;
				margin: 1em 0;
			}
			.btn-outline-success {
				font-size: 11px;
				padding: 3px 10px;
				border-width: 1px;
				margin: 0 10px;
				text-transform: none;
				font-weight: normal;
			}
		}
		.head {
			background-color: #fff;
			box-shadow: 0 2px 11px rgba(0, 0, 0, 0.16);
			position: relative;
			padding: 15px 10px;
			> div:only-child {
				max-width: 1150px;
				margin: auto;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			h1 {
				color: #838383;
				font-size: 1.8em;
				font-weight: 500;
				margin: 0;
			}
			.paginate {
				list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
				position: relative;
				&:before {
					content: '';
					height: 1px;
					background-color: #979797;
					width: 100%;
					position: absolute;
					left: 0;
					top: 50%;
				}
				li {
					width: 1.7em;
					height: 1.7em;
					position: relative;
					z-index: 1;
					border-radius: 50%;
					color: #979797;
					background: #fff;
					text-align: center;
					line-height: 1.8;
					border: 1px solid #979797;
					font-size: 1em;
					outline: 5px solid #fff;
					&.completed {
						background-color: #e4fff0;
						border-color: #17a66d;
						color: #17a66d;
					}
					&.current {
						background-color: #333333;
						border-color: #333333;
						color: #fff;
					}
					&:not(:first-child) {
						margin-left: 50px;
					}
				}
			}
		}
	}
	footer.saveBar {
		background-color: #e0711f;
		padding: 20px;
		position: fixed;
		width: 100%;
		left: 0;
		bottom: 0;
		z-index: 10;
		animation: slideToTop 1s forwards;
		i.dots {
			background: url('../images/rainbow-dots.png') no-repeat;
			left: 0;
			right: 0;
			top: -20px;
			bottom: 0;
			position: absolute;
			pointer-events: none;
			max-width: 1022px;
			margin: auto;
			&:before {
				content: '';
				display: block;
				padding-bottom: 50%;
			}
		}
		.container {
			position: relative;
			z-index: 3;
		}
		.footProgress {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center;
			li {
				color: rgba(255, 255, 255, 0.8);
				border: 1px solid rgba(255, 255, 255, 0.6);
				border-radius: 50%;
				width: 25px;
				height: 25px;
				font-size: 14px;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				i {
					font-size: inherit;
				}
				&:not(:last-child) {
					margin-right: 60px;
					&:after {
						content: '';
						width: 50px;
						height: 1px;
						background-color: rgba(255, 255, 255, 0.6);
						position: absolute;
						top: 50%;
						right: -5px;
						transform: translateX(100%);
					}
				}
				&.completed {
					background-color: #2ed176;
					border-color: #2ed176;
					color: #fff;
					&:after {
						background-color: #2ed176;
					}
				}
			}
		}
		button {
			border-radius: 5px;
			display: flex;
			align-items: center;
			padding: 0.75rem;
			font-weight: bold;
			font-family: heebo;
			color: #093042;
			i {
				background-color: #009688;
				border-radius: 50%;
				color: #fff;
				display: inline-block;
				margin-left: 15px;
			}
		}
		&.final {
			background-color: #21ae2f;
			.footProgress {
				li {
					&.completed {
						border: none;
						background-color: #fff;
						color: #21ae2f;
						&:nth-of-type(3) {
							margin-right: 20px;
							&::after {
								display: none;
							}
						}
					}
					&.text {
						width: auto;
						height: auto;
						border: none;
						text-align: left;
					}
				}
			}
		}
	}
}
@keyframes slideToTop {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0%);
	}
}
