@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff?iz4hdj') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-list:before {
    content: "\e902";
  }
  .icon-settings:before {
    content: "\e907";
  }
  .icon-mouse:before {
    content: "\e900";
  }
  .icon-check:before {
    content: "\e903";
  }
  .icon-rounded-arrow:before {
    content: "\e901";
  }
  .icon-left-arrow:before {
    content: "\e904";
  }
  .icon-right-arrow:before {
    content: "\e905";
  }
  .icon-close:before {
    content: "\e906";
  }
  .icon-heart:before {
    content: "\e9da";
  }
  